
<div> 
  <ul>
    <li *ngFor="let task_list of task_lists">
      {{task_list.name}}
      <div id="{{task_list.id}}">
        <ul>
          <li *ngFor="let task of tasks[task_list.id]">
              {{task.name}}
          </li>
        </ul>
      </div>
    </li>
  </ul> 
</div>

<router-outlet></router-outlet>
